<div class="row">

  <!--  left column start-->
  <div class="col-md-3 leftcol">
    <h4>Pick a date:</h4><input type="date">
    <div class="list-group">
      <h4>Pick a category:</h4>
      <a href="#" class="list-group-item list-group-item-action">Sports</a>
      <a href="#" class="list-group-item list-group-item-action">Markets</a>
      <a href="#" class="list-group-item list-group-item-action">Festivals</a>
      <a href="#" class="list-group-item list-group-item-action">Musea</a>
      <a href="#" class="list-group-item list-group-item-action">Celebrations</a>
    </div>
  </div>
  <!--  end left column-->


  <!--  center column start-->
  <div class="col-md-6 middlecol">
    <h1>Events Today:</h1>

    <div class="row">
      <div class="col-md-4  ">
        <img src="assets/images/tulpenpark.jpg" class="img-thumbnail" alt="">
      </div>
      <div class="col-md-4 ">
        <img src="assets/images/ibc.jpg" class="img-thumbnail" alt="">
      </div>

    </div> <div class="row">
    <div class="col-md-4 ">
      <img src="assets/images/teslaevent.png" class="img-thumbnail" alt="">
    </div>


    </div>
    <h4>Events today:</h4>
  </div>
  <!--  end center column-->


  <!--  right column start-->
  <div class="col-md-2 rightcol">
    <h4>RAI millionair fair:</h4>
    <h6>The RAI will have its annual 'millionaire fair' in the Europe Complex hall 1.
      Here you find gadgets that only millionairs can afford.
      But you don't have to be a millionaire to look around and be impressed.</h6>
    <h6>Location: Europaplein 22</h6>
    <h6>Entrance fee: €10</h6>
  </div>
  <!--  end right column-->


</div>
