header{
  background-color: #E3E7FC;
}
#iamsterdamImg{
  max-width:40%;
}
#dancingpplImg{
  max-width:40%;
  margin-top: 30px;
}

#amsterdamEventsH1{
  text-align: center;
  margin-top: 30px;
}

#offer{
  float: right;
  text-align: right
}

.col-md-3{
  border: 5px white;
}
